<nav class="navbar justify-content-center" style="background-color: #E48B68;">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto text-center" href="#" style="font-family: 'Merriweather', serif;">
        <!-- Reduced the width and height of the image -->
        <img src="../../../assets/images/WhiteLogoIcon.svg" alt="Logo" class="d-inline-block align-text-top mb-2" width="55" height="60">
        <div style="font-weight:bold; color: #fff; font-size: large;"> <!-- Reduced the font-size to medium -->
            Cook Clock
        </div>
      </a>
    </div>
</nav>
