@font-face {
    font-family: 'Merriweather';
    src: url('../../../assets/fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../../assets/fonts/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.nav{
    width:120%;
}	