

<app-navbar></app-navbar>

    <div class="container-fluid" style="height: 90vh;">
        <div>
            <div class="row align-items-center core">
                <!-- Large Image in the center -->
                <div class="col-md-3 text-center">
                    <img src="../../../assets/images/FullColourLogoIcon.svg" alt="Cook Clock Logo" class="img-fluid">
                </div>
                <div class="col-sm-1">
                    
            </div>
    
            <!-- Header and Text to the right of the image -->
            <div class="col-md-5">
                <div class="text-container" style="max-width: 500px;">
                    <h1 class="meriweather clock" style="font-family: 'Merriweather', serif; font-weight: bold;">Cook Clock</h1>
                    <p class="jost" style="font-family: 'Jost';max-width: 420px"> 
                        Es una innovadora aplicación de alarmas diseñada específicamente para la cocina, que revoluciona la forma en que cocinas y te ayuda a seguir recetas de manera organizada y efectiva. Esta aplicación está diseñada para simplificar y agilizar el proceso de preparación de recetas paso a paso, asegurándote de que cada etapa se realice de manera adecuada.
                    </p>
                </div>
            </div>
        </div>
        

        <!-- Buttons for Login and Sign Up -->
        <div class="container-fluid" style="height: 40vh;">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-md-6 text-center">
                    <button (click)="redirectToRecipe()" class="custom-button btn-spacing"><span style="font-family: Jost; font-size: 20px">Login</span></button>
                    
                    <!-- Add margin or padding between the buttons -->
                    <button (click)="redirectToRecipe()" class="custom-button btn-spacing" style="margin-left: 10vw;"><span style="font-family: Jost; font-size: 20px">Sign Up</span></button>
                </div>
            </div>
        </div>

    </div>
    
    
    
</div>