<div class="card mb-1" style="width: 22; border: 2px solid #505050; border-radius: 15px; background-color: #FFFCEB;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img src="../../../assets/images/StarDecorator.svg" alt="" style="height: 90%; border-radius: 10px; margin: 2px 0;">
        </div>
        <div class="col-md-10">
          <h5 class="card-title" style="font-family: 'Merriweather', serif; font-weight: bold; font-size: larger;">Nombre Receta Pasta</h5>
          <p class="card-text" style="font-family: 'Merriweather', serif; ">50 min</p>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <img src="../../../assets/images/pasta.png" alt="" style="max-height: 20vh; width: 100%; height: auto; border-radius: 50px; margin: 10px 0; padding:10px">
    </div>
    <div class="card-body text-center"> <!-- Center the button -->
      <button  (click)="navigateRecipe()"  class="custom-button btn-spacing"><span style="font-family: Jost; font-size: 18px;"></span></button>
    </div>
  </div>
