<div class="rounded-rectangle">
    <h2 style="font-family: Jost;">Alarm</h2>
    <div class="play-button">
      <!-- You can replace this with your play button icon or image -->
      <button>
        <img src="../../../assets/images/PlayBtn.png" alt="">
      </button>
    </div>
    <div class="text-at-bottom alarm-content">
      <p class="left-info">15 min</p>
      <p class="right-details" style="font-family: Jost;">Detalles <button class="btn" ><img src="../../../assets/images/DropDownArrowsBtn.png" alt="" style="width:10px ; border:none; "></button>

      </p>
    </div>
</div>
