

<app-navbar></app-navbar>

<div class="container-fluid" style="height: 110vh; background-color: #fefced; margin-top: 0;">
<div class="container">
    <div style="text-align:center; font-family: Merriweater; font-weight: bolder;color: #443333;margin-bottom: 2vh;">
        <h1>Mis Recetas</h1>
        <img src="../../../assets/images/CustomSearch.svg" alt="">
    </div>
    
    <div class="container mt-12">
        <!-- Row 1 -->
        <div class="row card-row">
            <div class="col-md-4 card-column"><app-recipe-card></app-recipe-card></div>
            <div class="col-md-4 card-column"><app-recipe-card></app-recipe-card></div>
            <div class="col-md-4 card-column"><app-recipe-card></app-recipe-card></div>
            <div class="col-md-4 card-column"><app-recipe-card></app-recipe-card></div>
            <div class="col-md-4 card-column"><app-recipe-card></app-recipe-card></div>
            <div class="col-md-4 card-column"><app-recipe-card></app-recipe-card></div>
        </div>
    
    </div>
</div>
</div>

